.site-footer {
  list-style: none;
}

.site-info {
  width: 100vw;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin: 4.5rem 0 3rem;
  align-content: flex-start;

  @media (min-width: 620px) {
    flex-direction: row;
    justify-content: flex-start;
    margin-block-start: none;

    @media (min-width: 1080px) {
      justify-content: flex-end;
    }
  }
}

@media (min-width: 1080px) {
  div#page {
    text-align: center;
  }
}

.ul-class {
  ul {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

    li {
      padding-right: 9px;
      border-right: 1px solid #fff;
      margin: 0px;
      padding-left: 9px;
      line-height: 1;

      &:last-child {
        border: none;

        a {
          color: #00cc00;
        }
      }
    }
  }
}

.color-change {
  color: white;
}

@media (min-width: 1080px) {
  .menu-footer {
    padding: 0 9px;
    margin: 13px 5px;
    border-left: 1px solid white;
    padding: -3px;
  }
}

@media (min-width: 1080px) {
  .site-content {
    margin: 4.5rem 175px 1.5rem;
  }
}

@media (min-width: 620px) {
  .menu-footer {
    padding: 0 9px;
    margin: 13px 5px;
    border-left: 1px solid #fff;
    padding: -3px;
  }
}
