.logo-image {
  margin-top: 49px;

  @media (min-width: 620px) {
    width: 500px;

    @media (min-width: 1080px) {
      margin: 0 auto;
      width: 700px;
    }
  }
}

img {
  max-width: 80%;
}

@media screen and (min-width: 1080px) {
  .hide {
    display: inline-block;
    position: absolute;
    color: #00cc00;
    font-size: 127px;
    left: 100px;
  }
  .right {
    right: -836px;
  }
}
